.thumbnail img {
    width: 100%;
}

.thumbnail {
    padding: 0;
}

.info {
    margin-bottom: 8px;
}

.thumbnail img.index {
    height: 250px;
    object-fit: cover;
}

.delete-form {
    display: inline;
}